*{
    padding: 10px;
    margin: 0px;
}
header{
    display: flex;
    background-color: red;
    width: 100%;
    height: 60px;
}
header img{
    padding: 0px;
    margin: 0px;
    height: 60px;
    
}
header ul{
    background-color: yellow;
    float: right;
    list-style: none;
    width: 100%;
}
header ul li{
    display: inline-block;
}